@page "/admin"
@using lapushki_blazor.ApiRequests.Models
@using lapushki_blazor.ApiRequests.Services
@using static lapushki_blazor.ApiRequests.Models.ClinicService
@using static lapushki_blazor.ApiRequests.Models.Doctor
@using static lapushki_blazor.ApiRequests.Models.Appointment
@using static lapushki_blazor.ApiRequests.Models.Pet
@using static lapushki_blazor.ApiRequests.Models.User

<PageTitle>Админ-панель</PageTitle>

<div class="admin-page">
    <div class="admin-panel">
        <div class="admin-tabs">
            <button class="admin-tab @(activeTab == "users" ? "active" : "")" @onclick='() => SwitchTab("users")'>
                Пользователи
            </button>
            <button class="admin-tab @(activeTab == "doctors" ? "active" : "")" @onclick='() => SwitchTab("doctors")'>
                Доктора
            </button>
            <button class="admin-tab @(activeTab == "pets" ? "active" : "")" @onclick='() => SwitchTab("pets")'>
                Питомцы
            </button>
            <button class="admin-tab @(activeTab == "appointments" ? "active" : "")" @onclick='() => SwitchTab("appointments")'>
                Записи
            </button>
        </div>

        @if (activeTab != "appointments")
        {
            <div class="admin-actions">
                <button class="booking-pay-btn" @onclick="OpenCreateModal">
                    Создать
                </button>
            </div>
        }

        @if (activeTab == "users")
        {
            <div class="table-shell">
                <table class="lapushki-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Email</th>
                            <th>Телефон</th>
                            <th>Пол</th>
                            <th>Дата рождения</th>
                            <th>Аватар</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (users == null || users.Count == 0)
                        {
                            <tr>
                                <td colspan="5" class="empty-cell">Нет данных</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var user in users)
                            {
                                <tr @ondblclick="() => OpenEditModal(user)">
                                    <td>@user.id_user</td>
                                    <td>@user.name</td>
                                    <td>@user.surname</td>
                                    <td>@user.email</td>
                                    <td>@user.phone</td>
                                    <td>@user.gender</td>
                                    <td>@user.date_of_birth</td>
                                    <td>@user.avatar</td>
                                    <td>
                                        <button class="table-delete-btn" @onclick="@(async () => await DeleteUser(user.id_user))">
                                            Удалить
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>            
        }
        @if (activeTab == "doctors")
        {
            <div class="table-shell">
                <table class="lapushki-table">
                    <thead>
                        <tr>
                            <th>ID доктора</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Email</th>
                            <th>Телефон</th>
                            <th>Специализация</th>
                            <th>Начало</th>
                            <th>Конец</th>
                            <th>Слот</th>
                            <th>Активен</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (doctors == null || doctors.Count == 0)
                        {
                            <tr>
                                <td colspan="5" class="empty-cell">Нет данных</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var doctor in doctors)
                            {
                                <tr @ondblclick="() => OpenEditModal(doctor)">
                                    <td>@doctor.id_doctor</td>
                                    <td>@doctor.user.name</td>
                                    <td>@doctor.user.surname</td>
                                    <td>@doctor.user.email</td>
                                    <td>@doctor.user.phone</td>
                                    <td>@doctor.specialization</td>
                                    <td>@doctor.work_start</td>
                                    <td>@doctor.work_end</td>
                                    <td>@doctor.duration_slot</td>
                                    <td>@doctor.is_active</td>
                                    <td>
                                        <button class="table-delete-btn" @onclick="@(async () => await DeleteDoctor(doctor.id_doctor))">
                                            Удалить
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (activeTab == "pets")
        {
            <div class="table-shell">
                <table class="lapushki-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Порода</th>
                            <th>Вид</th>
                            <th>Пол</th>
                            <th>Дата рождения</th>
                            <th>Владелец</th>
                            <th>Описание</th>
                            <th>Фото</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (pets == null || pets.Count == 0)
                        {
                            <tr>
                                <td colspan="5" class="empty-cell">Нет данных</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var pet in pets)
                            {
                                <tr @ondblclick="() => OpenEditModal(pet)">
                                    <td>@pet.id_pet</td>
                                    <td>@pet.name</td>
                                    <td>@pet.breed</td>
                                    <td>@pet.species</td>
                                    <td>@pet.gender</td>
                                    <td>@pet.date_of_birth</td>
                                    <td>@pet.user_id</td>
                                    <td>@pet.description</td>
                                    <td>@pet.image</td>
                                    <td>
                                        <button class="table-delete-btn" @onclick="@(async () => await DeletePet(pet.id_pet))">
                                            Удалить
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (activeTab == "appointments")
        {
            <div class="table-shell">
                <table class="lapushki-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Доктор ID</th>
                            <th>Питомец ID</th>
                            <th>ID услуги</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Статус</th>
                            <th>Платёж</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (appointments == null || appointments.Count == 0)
                        {
                            <tr>
                                <td colspan="5" class="empty-cell">Нет данных</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var appointment in appointments)
                            {
                                <tr @ondblclick="() => OpenEditModal(appointment)">
                                    <td>@appointment.id</td>
                                    <td>@appointment.doctor_id</td>
                                    <td>@appointment.pet_id</td>
                                    <td>@appointment.service_id</td>
                                    <td>@appointment.date</td>
                                    <td>@appointment.time</td>
                                    <td>@appointment.status</td>
                                    <td>@appointment.payment_id</td>
                                    <td>
                                        <button class="table-delete-btn" @onclick="@(async () => await DeleteAppointment(appointment.id))">
                                            Удалить
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    @if (isFormModalOpen)
    {
        <div class="booking-modal-overlay" @onclick="CloseFormModal">
            <div class="booking-modal" @onclick:stopPropagation="true">
                <button class="booking-modal-close" @onclick="CloseFormModal">×</button>
                <h3>@(isCreateMode ? "Создание" : "Редактирование")</h3>

                @switch (currentEditType)
                {
                    case "user":
                        <div class="form-group">
                            <label>Имя</label>
                            <input class="profile-input" type="text" @bind="editedUser.name" />
                        </div>

                        <div class="form-group">
                            <label>Фамилия</label>
                            <input class="profile-input" type="text" @bind="editedUser.surname" />
                        </div>

                        <div class="form-row">
                            <div class="form-group half">
                                <label>Дата рождения</label>
                                <input class="profile-input" type="date" @bind="editedUser.date_of_birth" />
                            </div>

                            <div class="form-group half">
                                <label>Пол</label>
                                <input class="profile-input" type="text" @bind="editedUser.gender" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Номер телефона</label>
                            <input class="profile-input" type="text" @bind="editedUser.phone" />
                        </div>

                        <div class="form-group">
                            <label>Почта</label>
                            <input class="profile-input" type="email" @bind="editedUser.email" />
                        </div>
                        <button type="button" class="booking-pay-btn" @onclick="SaveUser">Сохранить</button>
                        break;

                    case "doctor":
                        <div class="form-group">
                            <label>Имя</label>
                            <input class="profile-input" type="text" @bind="editedDoctor.user.name" />
                        </div>

                        <div class="form-group">
                            <label>Фамилия</label>
                            <input class="profile-input" type="text" @bind="editedDoctor.user.surname" />
                        </div>

                        <div class="form-group">
                            <label>Специализация</label>
                            <input class="profile-input" type="text" @bind="editedDoctor.specialization" />
                        </div>

                        <div class="form-row">
                            <div class="form-group half">
                                <label>Начало дня</label>
                                <input class="profile-input" type="text" @bind="editedDoctor.work_start" />
                            </div>

                            <div class="form-group half">
                                <label>Конец дня</label>
                                <input class="profile-input" type="text" @bind="editedDoctor.work_end" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Время приема</label>
                            <input class="profile-input" type="text" @bind="editedDoctor.duration_slot" />
                        </div>

                        <div class="form-row">
                            <div class="form-group half">
                                <label>Дата рождения</label>
                                <input class="profile-input" type="date" @bind="editedDoctor.user.date_of_birth" />
                            </div>

                            <div class="form-group half">
                                <label>Пол</label>
                                <input class="profile-input" type="text" @bind="editedDoctor.user.gender" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Почта</label>
                            <input class="profile-input" type="email" @bind="editedDoctor.user.email" />
                        </div>

                        <div class="form-row phone-active-row">
                            <div class="form-group phone-field">
                                <label>Номер телефона</label>
                                <input class="profile-input" type="text" @bind="editedDoctor.user.phone" />
                            </div>

                            <label class="doctor-active-checkbox">
                                <input type="checkbox" @bind="editedDoctor.is_active" />
                                <span>Активен</span>
                            </label>
                        </div>

                        <button class="booking-pay-btn" @onclick="SaveDoctor">Сохранить</button>
                        break;

                    case "pet":
                        <div class="form-group">
                            <label>Кличка</label>
                            <input class="profile-input" type="text" @bind="editedPet.name" />
                        </div>

                        <div class="form-group">
                            <label>Порода</label>
                            <input class="profile-input" type="text" @bind="editedPet.breed" />
                        </div>

                        <div class="form-group">
                            <label>Вид</label>
                            <input class="profile-input" type="text" @bind="editedPet.species" />
                        </div>

                        <div class="form-row">
                            <div class="form-group half">
                                <label>Дата рождения</label>
                                <input class="profile-input" type="date" @bind="editedPet.date_of_birth" />
                            </div>
                            <div class="form-group half">
                                <label>Пол</label>
                                <input class="profile-input" type="text" @bind="editedPet.gender" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Описание</label>
                            <input class="profile-input" type="text" @bind="editedPet.description" />
                        </div>

                        <button class="booking-pay-btn" @onclick="SavePet">Сохранить</button>
                        break;

                    case "appointment":
                        <div class="booking-field">
                            <label>Ветеринарный врач</label>
                            <select @bind="editedAppointment.doctor_id" disabled>
                                @foreach (var doctor in doctors)
                                {
                                    <option value="@doctor.id_doctor">@doctor.user.name @doctor.user.surname, @doctor.specialization</option>
                                }
                            </select>
                        </div>
                        <div class="booking-field">
                            <label>Услуга</label>
                            <select @bind="editedAppointment.service_id" disabled>
                                @foreach (var service in services)
                                {
                                    <option value="@service.id_service">@service.name</option>
                                }
                            </select>
                        </div>

                        <div class="booking-row">
                            <div class="booking-field">
                                <label>Дата</label>
                                <input type="date" @bind="editedAppointment.date" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            </div>

                            <div class="booking-field">
                                <label>Доступное время</label>
                                <select @bind="editedAppointment.time" >
                                    @foreach (var slot in GetAvailableSlots())
                                    {
                                        <option value="@slot">@slot.ToString("HH:mm")</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="booking-field">
                            <label>Питомец</label>
                            <select @bind="editedAppointment.pet_id" disabled>
                                @foreach (var pet in pets)
                                {
                                    <option value="@pet.id_pet">@pet.name, @pet.breed, @pet.species, @pet.date_of_birth</option>
                                }
                            </select>
                        </div>

                        <button class="booking-pay-btn" @onclick="SaveAppointment">Сохранить</button>
                        break;

                }
            </div>
        </div>
    }
</div>

@code{
    [Inject] private UserService userService { get; set; }
    [Inject] private UserRequests UserRequests { get; set; }
    [Inject] private PetRequests PetRequests { get; set; }
    [Inject] private AppointmentRequests AppointmentRequests { get; set; }

    private string activeTab = "users";

    private bool isAdmin => userService.isAdmin;
    private bool isFormModalOpen = false;
    private bool isCreateMode = false;

    private List<UserModel> users { get; set; }
    private List<PetModel> pets { get; set; }
    private List<AppointmentModel> appointments { get; set; }
    private List<DoctorModel> doctors { get; set; }
    private List<ClinicServiceModel> services { get; set; }
    private List<AppointmentModel> bookedAppointments { get; set; }

    private string currentEditType;

    private UserModel editedUser;
    private DoctorModel editedDoctor;
    private PetModel editedPet;
    private AppointmentModel editedAppointment;

    protected override async Task OnInitializedAsync()
    {
        await UserRequests.LoadUserFromToken();

        if (isAdmin)
        {
            await LoadAllData();
        }
    }

    private async Task LoadAllData()
    {
        var getPetResponse = await PetRequests.GetAllPets();
        pets = getPetResponse?.list ?? new();

        var getUserResponse = await UserRequests.GetAllUser();
        users = getUserResponse?.list ?? new();

        var getAppointmentResponse = await AppointmentRequests.GetAllAppointments();
        appointments = getAppointmentResponse?.list ?? new();

        var getDoctorResponse = await AppointmentRequests.GetAllDoctors();
        doctors = getDoctorResponse?.list ?? new();

        var getServicesResponse = await AppointmentRequests.GetAllCLinicServices();
        services = getServicesResponse?.list ?? new();
    }

    private void SwitchTab(string tab)
    {
        activeTab = tab;
    }

    private async Task OpenCreateModal()
    {
        isCreateMode = true;

        switch (activeTab)
        {
            case "users":
                currentEditType = "user";
                editedUser = new UserModel
                {
                    date_of_birth = DateOnly.FromDateTime(DateTime.Today),
                    password = "123",
                };
                break;
            case "doctors":
                currentEditType = "doctor";
                editedDoctor = new DoctorModel
                {
                    user = new UserModel
                    {
                        date_of_birth = DateOnly.FromDateTime(DateTime.Today),
                        password = "123",
                    },
                    work_start = new TimeOnly(9, 0),
                    work_end = new TimeOnly(15, 0),
                    duration_slot = 25,
                    is_active = true
                };
                break;
            case "appointments":
                currentEditType = "appointment";
                editedAppointment = new AppointmentModel
                {
                    date = DateOnly.FromDateTime(DateTime.Today)
                };

                if (doctors.Any())
                    editedAppointment.doctor_id = doctors.First().id_doctor;

                if (pets.Any())
                    editedAppointment.pet_id = pets.First().id_pet;

                if (services.Any())
                    editedAppointment.service_id = services.First().id_service;

                break;
        }
        isFormModalOpen = true;

    }

    private async Task OpenEditModal(UserModel user)
    {
        isCreateMode = false;

        editedUser = user; 
        currentEditType = "user";
        isFormModalOpen = true;
        StateHasChanged();
    }

    private async Task OpenEditModal(PetModel pet)
    {
        isCreateMode = false;

        editedPet = pet;
        currentEditType = "pet";
        isFormModalOpen = true;
        StateHasChanged();
    }

    private async Task OpenEditModal(DoctorModel doctor)
    {
        isCreateMode = false;

        editedDoctor = doctor;
        currentEditType = "doctor";
        isFormModalOpen = true;
        StateHasChanged();
    }

    private async Task OpenEditModal(AppointmentModel appointment)
    {
        isCreateMode = false;

        var getBookedAppointment = await AppointmentRequests.GetAllAppointmentsByDoctor(appointment.doctor_id);
        bookedAppointments = getBookedAppointment?.list ?? new();

        editedAppointment = appointment;

        currentEditType = "appointment";
        isFormModalOpen = true;
        StateHasChanged();
    }

    private async Task SaveUser()
    {
        if (isCreateMode)
        {
            await UserRequests.CreateNewUser(editedUser);
        }
        else
        {
            await UserRequests.UpdateUser(editedUser);
        }
        CloseFormModal();
        await LoadAllData();

    }
    private async Task SavePet()
    {
        await PetRequests.UpdatePet(editedPet);
        CloseFormModal();
        await LoadAllData();

    }
    private async Task SaveDoctor()
    {
        var doctorRequest = new CreateDoctorRequest()
        {
            specialization = editedDoctor.specialization,
            work_start = editedDoctor.work_start,
            work_end = editedDoctor.work_end,
            duration_slot = editedDoctor.duration_slot,
            name = editedDoctor.user.name,
            surname = editedDoctor.user.surname,
            gender = editedDoctor.user.gender,
            phone = editedDoctor.user.phone,
            email = editedDoctor.user.email,
            date_of_birth = editedDoctor.user.date_of_birth,
            is_active = editedDoctor.is_active,
        };

        if (isCreateMode)
        {
            await AppointmentRequests.CreateDoctor(doctorRequest);
        }
        else
        {
            await AppointmentRequests.UpdateDoctor(editedDoctor);
        }

        CloseFormModal();
        await LoadAllData();

    }
    private async Task SaveAppointment()
    {
        if (editedAppointment.doctor_id != 0)
        {
            var getBookedAppointment = await AppointmentRequests.GetAllAppointmentsByDoctor(editedAppointment.doctor_id);
            bookedAppointments = getBookedAppointment?.list ?? new();
        }

        if (isCreateMode)
        {
            await AppointmentRequests.AddAppointment(editedAppointment);
        }
        else
        {
            await AppointmentRequests.UpdateAppointment(editedAppointment);
        }
        CloseFormModal();
        await LoadAllData();

    }

    private async Task DeleteUser(int userId)
    {
        await UserRequests.DeleteUser(userId);
        await LoadAllData();
    }

    private async Task DeletePet(int petId)
    {
        await PetRequests.DeletePet(petId);
        await LoadAllData();
    }

    private async Task DeleteDoctor(int doctorId)
    {
        await AppointmentRequests.DeleteDoctor(doctorId);
        await LoadAllData();
    }

    private async Task DeleteAppointment(int appointmentId)
    {
        await AppointmentRequests.DeleteAppointment(appointmentId);
        await LoadAllData();
    }

    private List<TimeOnly> GetAvailableSlots()
    {
        var slots = new List<TimeOnly>();
        if (editedAppointment.doctor_id == null) return slots;

        var current = doctors.FirstOrDefault(x=>x.id_doctor == editedAppointment.doctor_id).work_start;
        var duration = doctors.FirstOrDefault(x => x.id_doctor == editedAppointment.doctor_id).duration_slot;
        var endTime = doctors.FirstOrDefault(x => x.id_doctor == editedAppointment.doctor_id).work_end;

        while (current < endTime)
        {
            bool isBusy = bookedAppointments.Any(x => x.time == current);

            bool isPast = editedAppointment.date == DateOnly.FromDateTime(DateTime.Today) && current < TimeOnly.FromDateTime(DateTime.Now);

            if (!isBusy && !isPast)
            {
                slots.Add(current);
            }

            current = current.AddMinutes(duration);
        }

        return slots;
    }

    private void CloseFormModal()
    {
        isFormModalOpen = false;
        isCreateMode = false;
    }

}